.findingaid_stat{
  margin-bottom:30px;
}


.findingaid_stat h2{
  border-bottom:none !important;
}

.findingaid_stat .subheaderwraper{
  margin-top:30px;
}
.findingaid_stat .subheaderwraper p{
  margin-top:0px;
}

#main-col .findingaid_stat .subheaderwraper h2{

  margin-bottom:0px;
}

.findingaid_stat h2.rcnum{
  text-align:center;
  font-weight:bold;
  font-size:300% !important;
}

.findingaid_stat .btn-outline-primary, .fafootnote .btn-outline-primary{
  border:1px solid #005EA2;
}
.findingaid_stat ul.findingaid_list{
  width:100%;
  display:block;
  text-align: center;
  position:relative;
  overflow:hidden;  
  margin-right: auto;
  margin-left: auto;  
}

.findingaid_stat .findingaid_list li{
  display:inline-block;  
  /*float:left;*/
  /*height: 400px;*/
  background:none !important;
  padding:0px !important;
  text-align:center;
  position:relative;
  margin-bottom:20px;
}

.findingaid_stat .findingaid_list li .findingaid_rec{
  border: 1px solid lightgray;
  width: 100%;
  position: relative; /* If you want text inside of it */
}

.findingaid_stat .faid_title{
  margin-bottom:20px;
}

.findingaid_stat .findingaid_rec img{

  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.findingaid_stat .faid_media{

  border-bottom:1px solid #fafafa;
  /*margin-bottom:-120px;*/
  overflow:hidden;
  background-color:#fafafa;

}

.findingaid_stat .fadesc{
  background-color:white;
  width:100%;
  padding-bottom: 10px;
  /*padding-bottom:10px;*/
  bottom:0px;

}

/*
.faid_video{  
  position: relative;
  display: inline-block;
  cursor: pointer;  
}
.faid_video:before{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "\f01d";
  font-family: FontAwesome;
  font-size: 100px;
  color: #fff;
  opacity: .8;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
*/
#findingaid_digital_data{
  position:relative;
  margin:50px 0px;
  margin-bottom:120px;
}

#digobj_pect{
  position:absolute;
  top:-26px;
  z-index:90;
}
#digobj_pect .perCirc {
  position: relative;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius:100%;
  /*
  background-color: #00cc00;
  background-image: linear-gradient(90deg, transparent 50%, #ccc 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
  */
  border:4px solid white;

}
#digobj_pect .perCirc .perCircInner {
    position: relative;
    /*
    top:5px;
    left:5px;
    */
    top: 1px;
    left: 1px;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #0071BD;
    color:white;

}
.perCirc .perCircInner div {
  position: relative;
  top: 25px;
  color:white;
}
.perCirc .perCircStat {
  font-size: 18px;
  line-height:1em;
}



.digobj_total{
  background-color:#9CDAF1;

  height:30px;
  position:relative;
  margin-bottom:10px;
  margin-top:10px;
  margin-left:76px;
}

.digobj{
  position:absolute;
  width:10%;
  background-color: #0071BD;
  height:30px;
}
.digobj_total>span,
.digobj>span{
  position:absolute;
  width:500px;
  top:60px;
  text-indent:20px;
  background-color:white;

}

.digobj_total>span{
  top:0px;
  left:0px;
  top:85px;
  width:100%;
}

.digobj_total>span{
  right:1px;
}

.digobj_total>span>span{
  width:5px;
  height:5px;
  text-indent:1em;

}
.digobj_total span>span{
  display:block;
  background-color:#9CDAF1;
  position:absolute;
  height:1em;
  width:1em;
  top:3px;

}

.digobj span>span{
  background-color:#0071BD;
  color:white;
}


.digobj_total span>span>span{
  position:absolute;
  margin-left:-9999999px;
}

.faid_media .icon-play{

}
.faid_media .icon-play{

}
/*
.findingaidvideopopup{
  text-align:center;
  margin-top:10px;
}

.findingaidvideopopup video{
  width:100%;
  height:100%;
}

#colorbox #cboxClose
{
top: 0;
right: 0;
}
#cboxLoadedContent{
margin-top:28px;
margin-bottom:0;
}
*/



.fafootnote{
  margin-top:30px;

}

.fafootnote a,
.fafootnote a:link,
.fafootnote a:visited{
color:#0171BC;
  font-size:110%;
  padding:0 30px;
}
/*
.faid_media video::-webkit-media-controls {
  display: none;
}
*/


@media only screen and (min-width: 800px) {

  .findingaid_rec_wrap{
    padding:10px 10px;
  }

  .fadesc_wrap{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:100%;
  }

  .findingaid_stat .faid_media{
    height:69%;
  }


  .findingaid_stat .fadesc{
    height:31%;
    position:absolute;
    bottom:0px;
    z-index:1;
  }
  .findingaid_stat .findingaid_list li .findingaid_rec{
    border: 1px solid lightgray;

    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */



  }

  .findingaid_stat .findingaid_list li .findingaid_rec_content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  .findingaid_stat .findingaid_list li{
    width:50%;
    margin-bottom:0px;
  }


  .findingaid_stat .findingaid_rec img{

    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    width: 100%;


    /*
    object-fit: cover;
    object-position: 50% 20%;
    height: 100%;
    width: 100%;
    */
    /*
    object-fit: none;
    object-position: center;
    height: 100%;
    width: 100%;
    */

  }

  .digobj_total>span{
    top:60px;
    left:300px;
    width:auto;
  }

  .faid_text{
    margin: 0;
    width:100%;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    padding: 0px 20px;
  }



}

.explorerswitch{  
  clear: both;
  display: block;  
  width: 100%;
  text-align: right;
  padding-right:20px;
  margin-bottom:10px;
  
  

}
.explorerswitch a, .explorerswitch a:link{
  text-decoration: none;
}
.explorerswitch a span.explorer-view,.explorerswitch a:link span.explorer-view{
  color: #0071bc;
  margin-right:5px;
}
.findingaidpopup h2{
  margin-top:35px;
  margin-bottom:20px;
}
@media only screen and (min-width: 1024px) {
  .findingaid_stat .findingaid_list li{
    width:33%;
  }
  .digobj_total>span{
    left:300px;
  }
}

@media only screen and (min-width: 800px) {
  .explorerswitch{
    padding-right:10px;
    text-align:right;
    position:absolute;
    right:30px;    
    margin-top:2px;
    font-size:16px;
  }

  .rgtableview #DataTables_Table_0_wrapper > .row:first-child{    
    padding: 15px 8px 10px 8px;
    color: #122F51;
    background-color: #CAC9C5;
    margin-bottom:0px;
    margin-top:-15px;
    font-size:16px;
  }
  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:first-child{  
    float:right;
    display:inline-block;
    width:auto;
    margin-right:200px;      
  }

  .rgtableview .searchIcon{   
    position: absolute; 
    color: #0071bd;
    padding-right: 16px;
    margin-left:-30px;
    padding-top:8px;
  }
  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2){
    
    float:left;  
    display:inline-block;
    width:auto;
  }

  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) label{
    color: #1B355A;
    font-size: 18px;
    font-weight: bold;
  }
    

  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) input{
    width:100px;
    border-radius: 8px;
    font-size:16px;
    font-weight:normal;
  }

  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) input:after{
    /*
    font-family: 'FontAwesome';    
    content: '\f002';
    */
    content: 'test';
  }

  
  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) #DataTables_Table_0_filter{
    text-align:left;
  }
}

@media only screen and (min-width: 830px) {
  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) input{
    width:130px;    
  }  
}

@media only screen and (min-width: 870px) {
  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) input{
    width:170px;    
  }  
}

@media only screen and (min-width: 900px) {
  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) input{
    width:200px;    
  }  
}

@media only screen and (min-width: 1100px) {
  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) input{
    width:400px;    
  }
  
}

@media only screen and (min-width: 1200px) {
  .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) input{
    width:500px;    
  }
}

@media only screen and (min-width: 1300px) {
    .rgtableview #DataTables_Table_0_wrapper .row .col-sm-6:nth-child(2) input{
      width:600px;    
    }
}
.explorerswitch-pl{
  text-align:right;
  padding-right:10px;
}

@media only screen and (min-width: 800px){
  .rgtableview #DataTables_Table_0_wrapper > .row:first-child {
    background-color:transparent;
  }
}

.header-image-over-text {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-color: rgba(248, 247, 243, .7);
  padding: 5px;
  border-radius: 4px;
  color: #000;
  font-size: 0.9rem;
}
